{% extends "base.html" %} {% block title %}Comenzi{% endblock %} {% block content %}
<h1 align="center">Comenzi</h1>

<form action="comenziASC">
    <button type="submit">Ordonati crescator dupa numarul de bucati</button>
  </form>

<table style="border-collapse: collapse;">
    <tr style="border: 1px solid black;">
    {% for column in datafr.columns %}
        <th style="border: 1px solid black;">{{ column }}</th>
    {% endfor %}
    </tr>
    {% for index, row in datafr.iterrows() %}
    <tr style="border: 1px solid black;">
        {% for value in row %}
        <td style="border: 1px solid black;">{{ value }}</td>
        {% endfor %}
    </tr>
    {% endfor %}
</table>
{%endblock%}