{% extends "base.html" %} {% block title %}Query clauza group by si having{% endblock %} {% block content %}
<h1 align="center">Departamentele cu mai mult de 3 angajati si salariul mediu al acestora</h1>

<table style="border-collapse: collapse;">
    <tr style="border: 1px solid black;">
    {% for column in datafr.columns %}
        <th style="border: 1px solid black;">{{ column }}</th>
    {% endfor %}
    </tr>
    {% for index, row in datafr.iterrows() %}
    <tr style="border: 1px solid black;">
        {% for value in row %}
        <td style="border: 1px solid black;">{{ value }}</td>
        {% endfor %}
    </tr>
    {% endfor %}
</table>
{%endblock%}